{% load i18n %}
{% load staticinline %}

<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  {% block meta %}<meta name="robots" content="noindex, nofollow"/>{% endblock %}
  <style type="text/css">{% staticinline "dpaste.css" %}</style>
  {% block extrahead %}{% endblock %}
  {{ dpaste_extra_head_html }}
</head>
<body {% block body_type %}{%endblock %}>

{% block header %}
<header>
  <h1>{% block headline %}<a class="home" href="{% url "snippet_new" %}">{{ dpaste_application_name }}</a>{% endblock %}</h1>
  <nav>
    <a class="nav-link" href="{% url "dpaste_about" %}">{% trans "About" %}</a>
    <a class="nav-link" href="{% url "snippet_history" %}">{% trans "History" %}</a>
    {%block nav_new %}<a class="btn" href="{% url "snippet_new" %}">{% trans "New snippet" %}</a>{% endblock %}
  </nav>
</header>
{% endblock %}

{% block options %}{% endblock %}

<main>
  <div style="text-align:center;color:#fff;background-color:rgb(23, 37, 94);padding-top: 10px;padding-bottom: 10px;padding-left: 10px;padding-right: 10px;">
    paste.mozilla.org allows you to share code snippets and notes with others.
    These pastes require a link to be viewed; they are not private.
    Anyone with the link is able to see the paste and also delete it.
    <p>
      <b>
      <br>
        Please refrain from sharing personal or sensitive information on this website to avoid it being viewed by other parties.
      </b>
    </p>
  </div>
  {% block page %}{% endblock %}
</main>

<script>{% staticinline "dpaste.js" %}</script>
{% block extrascript %}{% endblock %}
</body>
</html>
